@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */
body{
    background: linear-gradient(0deg, #fea1011f, #FFFFFF), url('../assets/bg.png');
}

/* desktop header styles */
header {
    max-width: 1200px;
    margin: 0 auto;
}

/* menu bar styles */
.desktop_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.home_image_and_title_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home_link_title {
    font-size: 2rem;
}

.menu_items {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu_items a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.home {
    color: #FEA301;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: #05D4DF;
}

.admission {
    color: #5D58EF;
}

.menu_btn {
    background-color: #FEA301;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
}
.menu_btn:hover{
    background-color: red;
}
/* mobile header styles */
.mobile_menu{
    border-bottom: 1px solid #FEA301;
}
.mobile_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: 0 auto;
    width: 90%;
}
.mobile_menu_icon{
    font-size: 2rem;
}

/* news ticker styles  */
.scrolling_text_container{
    display: flex;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.scrolling_text_container span{
    background-color: #FEA301;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
}
.scrolling_text_container marquee{
    padding: 5px 20px;
}

/* main section styles */
main{
    max-width: 1200px;
    margin: 0 auto;
}

/* banner section styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_title{
    font-size: 3.4rem;
    font-weight: 600;
}
#banner_title_first_color{
    color: #FEA301;
}
#banner_title_second_color{
    color: #01ACFD;
}
.banner_description{
    color: #111111;
    margin: 25px 0;
}
.banner_btn{
    background-color: #111111;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    transition: 0.5s;
}
.banner_btn:hover{
    background-color: red;
}

/* curriculum section styles */
.curriculum{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.curriculum_title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}
.curriculum_cards{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 30px;
    margin: 80px 0;
}
.curriculum_card{
    border-radius: 20px;
    padding: 60px 30px;
    border: 3px solid #DEF5FF;
}
.curriculum_c_1{
    background-image: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 30%);
}
.curriculum_c_2{
    background-image: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 30%);
}
.curriculum_c_3{
    background-image: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 30%);
}
.curriculum_card_title{
    margin-top: 30px;
}
.curriculum_description{
    margin: 30px 0;
}
.curriculum_link{
    text-decoration: none;
}
.curriculum_link_1{
    color: #64C8FF;
}
.curriculum_link_2{
    color: #F0AA00;
}
.curriculum_link_{
    color: #8700FF;
}
.slider_arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}
.slider_arrow{
    background-color: #F0AA00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}
.slider_arrow:hover{
    background-color: red;
    cursor: pointer;
}


/* stories section styles */
.stories_title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 80px;
}
.stories_card{
    border-radius: 15px;
    background-color: #FFFFFF;
}
.stories_card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.stories_image_container{
    width: 100%;
}
.stories_image_container img{
    width: 100%;
}
.card_content_1{
    height: 50%;
    padding: 30px;
    position: relative;
    display: grid;
    align-content: space-around;
}
.card_content_2{
    padding: 30px;
    position: relative;
}
.card_content_3{
    padding: 30px;
    position: relative;
}
.card_content_4{
    padding: 30px;
    position: relative;
}
.card_content_5{
    padding: 30px;
    position: relative;
}
.stories_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.sto_ca_1{
    grid-row: span 2;
}
.stories_btn_1{
    padding: 15px 20px;
    background-color: #3CD8E8;
    color: white;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: -28px;
    left: 30px;
    transition: 0.5s;
}
.stories_btn_1:hover{
    background-color: red;
}
.stories_btn_2{
    padding: 15px 20px;
    background-color: #95B226;
    color: white;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    transition: 0.5s;
}
.stories_btn_2:hover{
    background-color: red;
}
.stories_btn_3{
    padding: 15px 20px;
    background-color: #5D58F0;
    color: white;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    transition: 0.5s;
}
.stories_btn_3:hover{
    background-color: red;
}
.stories_btn_4{
    padding: 15px 20px;
    background-color: #95B226;
    color: white;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    transition: 0.5s;
}
.stories_btn_4:hover{
    background-color: red;
}
.stories_btn_5{
    padding: 15px 20px;
    background-color: #95B226;
    color: white;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    transition: 0.5s;
}
.stories_btn_5:hover{
    background-color: red;
}
.stories_bottom_btn_container{
    text-align: center;
    margin-top: 80px;
}
.stories_bottom_btn{
    background-color: #111111;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.stories_bottom_btn:hover{
    background-color: red;
}

/* footer styles  */
footer{
    background-color: #01ACFD;
}
.footer_content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 120px 0;
}
.logo_and_title_and_description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
}
.logo_and_title{
    display: flex;
    align-items: center;
    color: white;
}
.footer_description{
    color: white;
}
.about_school_container{
    display: flex;
    flex-direction: column;
    gap: 30px;  
}
.about_school_container{
    color: white;
}
.about_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_list a{
    text-decoration: none;
    color: white;
}
.keep_in_touch_container{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.keep_in_touch_icons{
    display: flex;
    gap: 10px;
}




/* computer device responsive */

@media screen and (min-width: 576px){
    .mobile_nav, .mobile_menu, .stories_card_4, .stories_card_5{
        display: none;
    }
}

/* mobile device responsive */

@media screen and (max-width: 576px) {

    /* desktop view */
    .desktop_nav {
        display: none;
    }

    /* new tikcer  */
    .scrolling_text_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    /* banner  */
    .banner{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .banner_title{
        font-size: 2rem;
    }
    .banner_btn{
        padding: 10px 25px;
        font-size: 1rem;
    }
    .banner_image_container{
        order: -1;
    }
    .banner_image_container img{
        width: 100%;
    }

    /* curriculum cards  */
    .curriculum_cards{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .curriculum_title{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .slider_arrows{
        display: none;
    }

    /* stories  */
    .stories_cards{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;
    }
    .sto_ca_1{
        display: none;
    }
    .stories_btn_2, 
    .stories_btn_3, 
    .stories_btn_3, 
    .stories_btn_4, 
    .stories_btn_5,
    .stories_card_title{
        font-size: 10px;
    }
    .stories_title{
        font-size: 1.8rem;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .stories_bottom_btn_container{
        margin-top: 20px;
    }

    /* footer */
    .footer_content{
        flex-direction: column;
        gap: 30px;
        width: 90%;
        margin: 0 auto;
        padding: 60px 0;
    }
    .logo_and_title_and_description{
        width: 100%;
    }
}